---
import { Github, Linkedin } from "lucide-preact";

import HeaderLink from './HeaderLink.astro';
import Locale from "./Locale.astro";
import ThemeToggle from './ThemeToggle';
import {  GITHUB_LINK, LINKEDIN_LINK, SITE_NAME} from '../consts';
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const PATH = "/" + lang + "/";
---

<header>
	<nav>
		<div class="flex items-center justify-between">
			<h2 class="logo">
				<a href={PATH} class="flex">
					<img alt={SITE_NAME} src={`/favicon.ico`} height={'40px'} width={"40px"} />
				</a>
			</h2>
			<div class="flex items-center">
				<ThemeToggle client:only="preact" />
				<Locale />
				<a href={LINKEDIN_LINK} target="_blank" rel="noreferrer">
					<span class="sr-only">Chat with me on LinkedIn</span>
					<Linkedin />
				</a>
				<a href={GITHUB_LINK} target="_blank" rel="noreferrer">
					<span class="sr-only">Check me on Github</span>
					<Github />
				</a>
			</div>
		</div>
		<div class="flex justify-center items-center md:gap-2">
			<HeaderLink href={PATH}>{t('seo.home.title')}</HeaderLink>
			<HeaderLink href={`${PATH}projects`}>{t('seo.projects.title')}</HeaderLink>
			<HeaderLink href={`${PATH}cv`}>{t('seo.cv.title.abbr')}</HeaderLink>
			<HeaderLink href={`${PATH}blog`}>{t('seo.blog.title')}</HeaderLink>
			<HeaderLink href={`${PATH}about`}>{t('seo.about.title')}</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 0.5em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 0.5em;
		color: var(--foreground);
		border-bottom: 1px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		text-decoration: none;
		border-bottom-color: var(--primary);
	}
	nav a.active {
		text-decoration: none;
		border-bottom-width: 3px;
		border-bottom-color: var(--primary);
	}
	.logo a:hover {
		text-decoration: none;
		border: 0px;	
	}
</style>
