---
import { Download, Github } from 'lucide-preact';

import { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/cv/Section.astro';
import Card from '../../components/cv/Card.astro';
import RateSkill from '../../components/cv/RateSkill.astro';
import { CV_LINK, GITHUB_LINK, JOB_TITLE, USERNAME, EMAIL, PHONE_NUMBER } from '../../consts';

export async function getStaticPaths() {
  return Object.keys(languages).map(path => ({ params: { lang: path } }))
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("seo.cv.title")} description={t("seo.cv.description")}>
	<div class="mb-4 py-4 px-0 text-center leading-1">
		<h1 class="text-center">
			Curriculum Vitæ 
			<a href={CV_LINK} target="_blank" rel="noreferrer" class="inline-flex">
			<Download />
			</a>
		</h1> 
		<hr />
	</div>
	<div class="shadow-md my-10 rounded-md p-4">
		<h3 class="text-center">{t("home.name")}</h3>
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">{JOB_TITLE}</span></h4>
	</div>
	
	<Section title={t("cv.credentials.title")}>
		<div class="flex flex-wrap justify-center items-center gap-x-10">
			<p >{t("cv.credentials.city")}</p>
			<p >{EMAIL}</p>
			<a href={GITHUB_LINK} rel="noreferrer" target="_blank">
				<p>
					<Github class="inline" />{" "}<span>{USERNAME}</span>
				</p>
			</a>
			<p dir="ltr">{PHONE_NUMBER}</p>
		</div>
	</Section>
	<Section title={t("cv.professional_profile.title")}>
		<p>{t("cv.professional_profile.p1")}</p>
		<p>{t("cv.professional_profile.p2")}</p>
	</Section>
	<Section title="Projects">
		<div class="p-4 m-2">
			<h3><Github class="inline" /> moh3a/ae_sdk</h3>
			<p class="py-4">A library in Typescript that follows Aliexpress guidelines to compose and encrypt requests, and pass API parameters in type-safe and normalized methods.</p>
		</div>
		<div class="p-4 m-2">
			<h3><Github class="inline" /> moh3a/reglini</h3>
			<p class="py-4">A full-stack ecommerce web application (react.js, next.js, PWA, prisma, postgres, supabase, vercel) to allow full access to Aliexpress products and launch orders by paying in Algerian dinars.</p>
		</div>
	</Section>
	<Section title="Education">
		<Card 
			title="Master in Engineering Geology and Geotechnics"
			period="September 2017 • July 2019"
			/>
		<Card 
			title="Bachelor in Applied Geology and Geotechnics"
			period="September 2014 • July 2017"
			/>
	</Section>
	<Section title="Experience">
		<Card 
			title="Electronics maintenance engineer in after-sales service • SARL SACOMI"
			period="November 2020 • Current"
			description={`Reception of customers who encounter problems with the company's products (TV,mixers, smartphones, etc.), recording of all entries, diagnosing and resolving
			breakdowns (repair or change of parts) and monitoring of checkout and recovery.`}
			/>
		<Card 
			title="SMT Engineer • SARL SACOMI"
			period="Octobre 2019 • November 2020"
			description={`Ensure the programming of SMT machines, the production of SMD cards to
			standards and the reflow in the event of defective cards.`}
			/>
	</Section>
	<Section title="Skills">
		<RateSkill
			rate={95}
			rateDesc="95%"
		>
			<img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" />
		</RateSkill>
		<RateSkill 
			rate={80}
			rateDesc="80%"
		>
			<img alt="React.js" src="https://img.shields.io/badge/-React-61DAFB?style=for-the-badge&logo=react&logoColor=white" />
		</RateSkill>
		<RateSkill 
			rate={80}
			rateDesc="80%"
		>
			<img alt="Next.js" src="https://img.shields.io/badge/-Next.js-000000?style=for-the-badge&logo=Next.js&logoColor=white"/>
		</RateSkill>
		<RateSkill 
			rate={90}
			rateDesc="90%"
		>
			<img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=for-the-badge&logo=Node.js&logoColor=white" />
		</RateSkill>
		<RateSkill 
			rate={70}
			rateDesc="70%"
		>
			<img alt="Astro" src="https://img.shields.io/badge/-Astro-FF5D01?style=for-the-badge&logo=Astro&logoColor=white" />
		</RateSkill>
		<RateSkill 
			rate={75}
			rateDesc="75%"
		>
			<img alt="Postgres" src="https://img.shields.io/badge/-PostgreSQL-4169E1?style=for-the-badge&logo=PostgreSQL&logoColor=white" />
		</RateSkill>
		<RateSkill 
			rate={90}
			rateDesc="90%"
		>
			<img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=for-the-badge&logo=mongodb&logoColor=white" />
		</RateSkill>
	</Section>
	<Section title="Languages">
		<RateSkill 
			rate={90}
			rateDesc="Native"
		>
			Arab
		</RateSkill>
		<RateSkill 
			rate={85}
			rateDesc="Fluent"
		>
			French
		</RateSkill>
		<RateSkill 
			rate={85}
			rateDesc="Proficient"
		>
			English
		</RateSkill>
	</Section>
</Layout>
