---
import { getCollection } from 'astro:content';

import FormattedDate from '../../../components/FormattedDate.astro';
import GoogleInFeedAd from '../../../components/ads/GoogleInFeedAd.astro';
import Layout from '../../../layouts/Layout.astro';
import { languages } from '../../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';

export async function getStaticPaths() {
  return Object.keys(languages).map(path => ({ params: { lang: path } }))
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = (await getCollection('blog')).filter(page => page.slug.split('/')[0] === lang).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title={t("seo.blog.title")} description={t("seo.blog.description")}>
    <style>
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        ul li {
            width: calc(50% - 1rem);
        }
        ul li * {
            text-decoration: none;
            transition: 0.2s ease;
        }
        ul li:first-child {
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
        }
        ul li:first-child img {
            width: 100%;
        }
        ul li:first-child .title {
            font-size: 2.369rem;
        }
        ul li img {
            margin-bottom: 0.5rem;
            border-radius: 12px;
        }
        ul li a {
            display: block;
        }
        .title {
            margin: 0;
            line-height: 1;
        }
        .date {
            margin: 0;
            color: rgb(var(--gray));
        }
        ul li a:hover h4,
        ul li a:hover .date {
            color: rgb(var(--primary));
        }
        ul a:hover img {
            box-shadow: var(--box-shadow);
        }
        @media (max-width: 720px) {
            ul {
                gap: 0.5em;
            }
            ul li {
                width: 100%;
                text-align: center;
            }
            ul li:first-child {
                margin-bottom: 0;
            }
            ul li:first-child .title {
                font-size: 1.563em;
            }
        }
    </style>
    <section>
        <GoogleInFeedAd />
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/${lang}/blog/${post.slug.substring(3)}/`}>
                            {post.data.heroImage && <img width={720} height={360} src={post.data.heroImage} alt="" />}
                            <h4 class="title">{post.data.title}</h4>
                            <p class="date">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>